<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/noticias.css">
</head>
<body>
    <h1>Leandro Paredes contó cómo reaccionó con el llanto de Leo Messi en la final de la Copa América</h1>
    <h2>El futbolista dio detalles sobre la tristeza del capitán y sobre los minutos fundamentales en los que le tocó participar del encuentro.</h2>
    <h3>24 de julio 2024, 18:22hs</h3>
    <article>
        <p>Tras el bicampeonato, Leo Paredes viajó a la Argentina para disfrutar de unos días libres con su familia. Aprovechó para presentar su nuevo vino y para asistir al casamiento de Oriana Sabatini y Paulo Dybala. Además, visitó el programa “Se extraña a la nona “ del canal de streaming Olga.</p>
        <p>A diez días del bicampeonato, le preguntaron cómo vivió la final de la Copa América, en la que Messi salió lesionado en el segundo tiempo y se puso a llorar sin consuelo en el banco de suplentes. En el video, que se volvió viral, se puede ver a Paredes sentado a su lado.</p>
        <div class="image-container">
            <img src="https://tn.com.ar/resizer/v2/soccer-football-copa-america-2024-final-argentina-v-colombia-hard-rock-stadium-miami-florida-united-states-july-14-2024-argentinas-leandro-paredes-celebrates-after-winning-copa-america-2024-reutersagustin-marcarian-YTI4MYCJV57GHZER2R7YUR7KKQ.jpg?auth=5817fc62c550e62fca6d138e8b7c50c199b8855974194650d5f5364aa9ff6f68&width=1440">
        </div>
        <div class="highlight">
            <p>“El jugador actual de la A.S. Roma, reveló: “Al principio traté de tranquilizarlo un poco, y después, ya no lo podía ni mirar porque lo escuchaba llorar al lado mío. No quería mirarlo. La gente seguramente sufrió mucho por lo que es Leo. Sentir que estaba mi ídolo, mi compañero y mi amigo de esa manera, no me gustó nada”.</p>
        </div>
        <a href="{{ url_for('noticia3') }}" class="read-more">Leé también: Guillermo Varela, suspendido por CONMEBOL por los incidentes ante Colombia en la Copa América</a>
        <div class="highlight">
            <p>También, dio detalles del momento en que tuve que entrar al partido: “Yo en ese momento lo único que quería era poder entrar y ayudar. Uno cuando está en una final y no le toca jugar, lo único que quiere es entrar para poder ayudar. Obviamente, si las cosas no salen bien, te queda el sabor de no poder ayudar. Pero me tocó entrar y ayudar a que consigamos la segunda copa”, explicó Paredes, que fue fundamental en la definición del partido.</p>
        </div>
        </article>
        <div class="image-container">
            
        </div>
</body>
</html>