<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/noticias.css">
</head>
<body>
    <h1>Guillermo Varela, suspendido por CONMEBOL por los incidentes ante Colombia en la Copa América</h1>
    <h2>La CONMEBOL dio a conocer la sanción del lateral derecho Guillermo Varela por los incidentes ocurridos en la Copa América, tras el partido entre la Selección Uruguaya y Colombia por las semifinales del torneo continental.</h2>
    <h3>3 de ago, 2024, 17:14</h3>
    <article>
        <p>El futbolista del Flamengo había sido expulsado por el árbitro una vez terminado el parido en medio de los incidentes entre los jugadores uruguayos y colombianos en la mitad de la cancha del Bank of America Stadium en Charlotte.</p>
        <div class="image-container">
            <img src="https://imagenes.montevideo.com.uy/imgnoticias/202211/_W933_80/825102.jpg">
        </div>
        <a href="{{ url_for('noticia4') }}" class="read-more">Leé también: Lo Celso y su gesto con Messi en el gol de Lautaro Martínez en la final: "Él se lo merecía más que nadie"</a>
        <p>En su web oficial, la Confederación Sudamericana de Fútbol emitió un comunicado en el que se detalla la resolución de la Comisión Disciplinaria, informando que decisión no será recusable.</p>
        <p>El Juez Único de la Comisión Disciplinaria de la CONMEBOL, resuelve suspender al jugador Guillermo Varela por 2 (dos) partidos, incluyendo el partido de suspensión automática ya impuesto. A su vez, se le impone al jugador una multa de USD 4.000 en virtud del Artículo 14.6 del Código Disciplinario de la CONMEBOL. El importe de esta multa será debitado automáticamente del monto a recibir por su Asociación en concepto derechos de televisación, participación y/o premios", anunció la CONMEBOL.</p>
        <p>Cabe destacar que Varela ya cumplió la primera de las dos fechas de suspensión en el partido ante Canadá por el tercer puesto de la Copa América, por lo que solo le restará cumplir un encuentro más cuando regrese la actividad por Eliminatorias.</p>
        <div class="image-container">
            
        </div>
    </article>
</body>
</html>