<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Otra vez reyes de Europa!</title>
    <link rel="stylesheet" href="/static/noticias.css">
   
</head>
<body>
    <h1>¡Otra vez reyes de Europa!</h1>
    <h2>Un gol de Oyarzabal en el 86′ da a España su cuarta Eurocopa, algo que no ha conseguido nadie. Nico Williams abrió una victoria que hace justicia al mejor fútbol de la Selección española.</h2>
    <h3>Actualizado a 14 de julio de 2024 23:03 CEST</h3>
    <article>
        <p>Ganó España, ganó el fútbol. Pocas veces un campeonato hace justicia a un grupo de jugadores entregados al dulce toque del balón. Ya tenemos foto, la imagen de Álvaro Morata levantando la Eurocopa al cielo de Berlín como antes hicieron Ferran Olivella en Madrid en 1964 o Iker Casillas en Viena y Kiev en 2008 y 2012. Hitos de una Selección que hace historia al convertirse en la primera en ganar cuatro títulos continentales. Doce años después de aquella Eurocopa con la que se cerraba el triplete mágico, La Roja ha logrado cautivar al mundo con su fútbol y sus talentos. Qué bien sabe volver a ser los reyes de Europa.</p>
        <div class="image-container">
            <img src="https://img.asmedia.epimg.net/resizer/v2/5I3NQPOSWB75YTMQYBM5FY4MI4.jpg?auth=4139fd8ac9333a2e4d61f16635a8f37f5881df992409c8f27c114b9197b77202&width=1288" alt="Descripción de la imagen">
        </div>
        <a href="{{ url_for('noticia1') }}" class="read-more">Leé también: Leandro Paredes contó cómo reaccionó con el llanto de Leo Messi en la final de la Copa América</a>

        <p>De inicio, España se volcó a la izquierda, con Nico y Fabián como socios ante una Inglaterra que había cambiado de traje respecto a los últimos días: defendían cuatro y no tres, con Shaw de titular en detrimento de Trippier. Orden y disciplina, esas eran las consignas de Southgate, acostumbrado a sacar el máximo rédito a cada una de sus libras. Eso, trasladado al fútbol, significaba que sus jugadores no se arriesgaban a robar el balón sino que esperaban atrás, sin ningún sonrojo por que los minutos pasaran y su afición se quedara fría.</p>
        <p>Los minutos pasaban y, pese al 0-0, ganaba Inglaterra. Me explico. Inglaterra jugaba como lo ha hecho en toda la Euro, es decir, a nada, con el valor del equipo menor al de la suma de sus individualidades, Foden desaparecido, Saka sin recibir balón y Bellingham luchando en solitario. España, mientras, no se parecía a España, sin veneno en las bandas de Lamine y Nico, Morata desconectado y escaso peligro de Olmo, nuestro tres en uno cuando de lo que se trata es de abrir la cerradura rival. Pero no hubo manera, nadie marcó, ni siquiera en el remate de Foden en el 45′, y de ese modo el descanso acudió en auxilio de unos y otros.</p>
    </article>
    <div class="image-container">
        
    </div>
</body>
</html>
