<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giroud</title>
    <link rel="stylesheet" href="/static/noticias.css">
</head>
<body>
    <h1>Giroud oficializa su adiós a la selección francesa, de la que es su máximo goleador</h1>
    <h2>Olivier Gidoud hizo oficial este lunes su esperado adiós a la selección francesa de fútbol, de la que es el máximo goleador, con 57 tantos en 137 partidos.</h2>
    <h3>Actualizado a 15 de julio de 2024 20:42 CEST</h3>
    <article>
        <div class="highlight">
            <p>“Pasamos una nueva página... Emprendo nuevas aventuras. A partir de ahora me convierto en el primer fan de los ‘bleus’ “, señaló el delantero centro en un mensaje difundido en redes sociales.</p>
        </div>
        <div class="highlight">
            <p>“La selección francesa a la que he servido durante 13 años seguirá grabada por siempre en mi corazón. Es mi mayor orgullo y mi recuerdo más hermoso”, añadió.</p>
        </div>
        <p>Campeón del mundo en 2018 con Francia, y subcampeón en 2022, Giroud también perdió la final de la Eurocopa de 2016 frente a Portugal.</p>
        <p>Su último partido con la selección francesa tuvo lugar el pasado día 9, cuando los ‘bleus’ fueron eliminados en una de las semifinales de le Eurocopa por España, en un encuentro que terminó en 2-1.</p>
        <div class="image-container">
            <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2022/12/05/16702427215685.jpg">
        </div>
        <a href="{{ url_for('noticia5') }}" class="read-more">Leé también: ¡Otra vez reyes de Europa!</a>
        <p>Giroud, que cumplirá 38 años en septiembre, jugará la próxima temporada en el Los Angeles FC, tras dejar el AC Milan, y después de haber pasado antes por el Chelsea y el Arsenal en la ligan inglesa y el Montepellier francés.</p>
        <p>El espigado atacante, de 1,93 metros de altura, tiene por ahora un historial de 286 goles en 718 partidos a nivel de club profesional.</p>
    </article>
    <div class="image-container">
        
    </div>
</body>
</html>