<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lo Celso y su Gesto con Messi</title>
    <link rel="stylesheet" href="/static/noticias.css">
</head>
<body>
    <h1>Lo Celso y su gesto con Messi en el gol de Lautaro Martínez en la final: "Él se lo merecía más que nadie"</h1>
    <h2>El mediocampista de la Selección Argentina, quien dio la asistencia para el Toro en el tanto del título en la Copa América, recordó su abrazo con la Pulga, quien estaba lesionado en el banco. "Como compañeros y amigos, verlo sufrir así no es lindo", expresó.</h2>
    <h3>08/08/2024 11:24 am</h3>
    <article>
 
        <p>Giovani Lo Celso, mediocampista de la Selección Argentina, recordó su asistencia en el gol de Lautaro Martínez en la final ante Colombia para coronarse en la Copa América y también se refirió a su emotivo abrazo con Lionel Messi, quien rompió en llanto en el banco de suplentes tras salir lesionado con un fuerte dolor en el tobillo.</p>
        <div class="highlight">
        <p>"Por lo que se estaba viviendo después de la lesión de Leo, que es nuestro emblema, nuestro capitán y que siempre quiere estar en la cancha, y lamentablemente con lo del tobillo no podía seguir más. Y nosotros, como compañeros y amigos, verlo sufrir así no es lindo", expresó en una entrevista con Olé.</p>
        </div>
        <div class="highlight">
         <p>"Cuando fue el gol lo primero que se me ocurrió fue ir a abrazarlo: desde afuera se sufre mucho más y creo que él se lo merecía más que nadie. Lo primero que se me vino a la cabeza después de verlo llorar y sufrir así es ir a abrazarlo a él y dedicarle el gol", agregó sobre su gesto con la Pulga.</p>
        </div>
        <div class="image-container">
            <img src="https://tn.com.ar/resizer/v2/angel-di-maria-se-abrazo-con-lionel-scaloni-luego-de-ganar-la-copa-america-foto-fotobaires-TXIX2ILSSZELHHSYZIFJ52FPGY.JPG?auth=56c55816ab8bb07ed9b48167c1ee9d84c079d98bf4b6481d986cef7fe7a5399b&width=1440" alt="Descripción de la imagen">
        </div>
        <p>A su vez, reveló qué les pidió Scaloni en el tiempo extra, antes de la jugada del gol: "Entramos en la prórroga y ya había muchos jugadores que venían acumulando bastante fatiga. Entonces, se empiezan a crear más espacios. Por ahí haciendo la entrada en calor era lo que hablábamos con los chicos, que si juntábamos varios pases podíamos lastimarlo porque se estaban creando espacios".</p>
        <a href="{{ url_for('noticia2') }}" class="read-more">Leé también: Giroud oficializa su adiós a la selección francesa, de la que es su máximo goleador</a>
        <div class="highlight">
            <p>"Leo (NdR: Scaloni) fue un poco lo que dijo: que tengamos la pelota, que tratemos de jugar, que se van a abrir los espacios, que ellos ya se estaban desordenando, pero también se venían. Y por suerte encontramos esa jugada que Lauti pudo convertir y a partir de ahí ya se veía que otra vez se podía dar", afirmó.</p>
        </div>
        <div class="highlight">
          <p>Por último, Lo Celso aseguró que fue la mejor asistencia de su carrera. "Cada vez que aparece lo ves, la verdad que es algo muy emotivo y muy lindo para ver", dijo. Y sentenció con una reflexión sobre qué significa la Scaloneta: "Es un sinónimo de unión, de humildad, de perseverancia y de alegría".</p>
        </div>
        <div class="image-container">
            
        </div>
    </article>
</body>
</html>
