{% extends "base.html" %}

{% block content %}
<style>
    .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.5rem;
    margin: 0;
    color: #333;
}

.card-body p {
    margin: 5px 0;
    color: #555;
}

.card-body a {
    color: #3498db;
    text-decoration: none;
}

.card-body a:hover {
    text-decoration: underline;
}

</style>

    <h1>Equipos Participantes</h1>
    <div class="card-container">
        <h2 id="copa-america">Copa América</h2>
        {% for equipo in equipos %}
            <div class="card">
                <img src="{{ equipo[15] }}" alt="{{ equipo[1] }}" class="card-img"> <!-- Aquí asumimos que el logo es el índice 11 -->
                <div class="card-body">
                    <h2 class="card-title">{{ equipo[1] }}</h2> <!-- Nombre -->
                    <p><strong>País:</strong> {{ equipo[2] }}</p> <!-- País -->
                    <p><strong>Ciudad de Origen:</strong> {{ equipo[3] }}</p> <!-- Ciudad de Origen -->
                    <p><strong>Estadio:</strong> {{ equipo[4] }} (Capacidad: {{ equipo[5] }})</p> <!-- Estadio y Capacidad -->
                    <p><strong>Entrenador Principal:</strong> {{ equipo[5] }}</p> <!-- Entrenador Principal -->
                    <p><strong>Año de Fundación:</strong> {{ equipo[6] }}</p> <!-- Año de Fundación -->
                    <p><strong>Colores del Equipo:</strong> {{ equipo[7] }}</p> <!-- Colores -->
                    <p><strong>Liga en la que Participa:</strong> {{ equipo[8] }}</p> <!-- Liga -->
                    <p><strong>Posición Actual en el Ranking FIFA:</strong> {{ equipo[9] }}°</p> <!-- Ranking FIFA -->
                
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

